<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-group">
    <div class="field" type="password">
      <%= form.label :email %>
      <%= form.text_field :email, id: :user_email, placeholder: 'Введите email', type: 'email' %>
    </div>

    <div class="field" type="password">
      <%= form.label t(:password) %>
      <%= form.text_field :password, id: :user_password, type: 'password' %>
    </div>

    <div class="field" type="password">
      <%= form.label :password_confirmation %>
      <%= form.text_field :password_confirmation, id: :user_password_confirmation, type: 'password' %>
    </div>

    <div class="actions">
      <%= form.submit class: 'btn btn-outline-primary' %>
    </div>
    
</div>

<% end %>
